.button-recomend-container {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 50px;
}

.button-recomend {
    background-color:  #1779ba !important;
    color: #ffffff !important;
}

.input-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.input-category {
    width: 200px;
}

.inputs-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 20px;
}

.recomendation-text {
    font-size: 18px;
}

.label-categories-text {
    font-weight: bold;
}
